<div class="drawer-wrapper @(_isOpen ? "slide" : "")" @onclick="Close">
    <div class="drawer-mask"></div> 
    <div class="drawer">
        @if (_activeShow is not null)
        {
            <div class="drawer-content">
                <img src="@_activeShow.Image" /> 
                <div class="show-details">
                    <h3>@_activeShow.Name</h3> <h6 class="mb-3 text-muted">
                        <span class="oi oi-thumb-up"></span> @_activeShow.Rating
                    </h6>
                    <div class="mt-4 d-flex justify-content-between">
                        <span class="mr-5">
                            <span class="oi oi-bar-chart mr-2"></span> @_activeShow.Genre
                        </span> <span>
                            <span class="oi oi-play-circle mr-2"></span> @_activeShow.Platform
                        </span>
                    </div> 
                    <p class="mt-4">
                        @_activeShow.Description
                    </p>
                </div>
            </div>
            <div class="drawer-controls">
                <button class="btn btn-secondary" @onclick="Close">Close</button>
            </div>
        }
    </div>
</div>

@code {
    private bool _isOpen; 
    private Show? _activeShow;

    [Parameter, EditorRequired] 
    public Show? Show { get; set; }

    protected override void OnParametersSet()
    {
        if (Show != null)
        {
            _activeShow = Show;
            _isOpen = true;
        }
    }

    private void Close()
    {
        _activeShow = null; 
        _isOpen = false;
    }
}
