@page "/add-show" 

<PageTitle>Add Show</PageTitle>

<div  class="container mt-5 mb-5">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Add Show
        </li>
    </ol>
</nav>

<h3 class="mt-5 mb-4">Add a show</h3>

<EditForm Model="_show" OnValidSubmit="SubmitForm">
    <FluentValidationValidator />
    <div class="mt-4 mb-5">

        <FormSection Title="Basic Details" 
                     HelpText="This information is used to identify the show and can be searched to help viewers find it.">
            <FormFieldSet Width="col-6"> 
                <label for="showName" class="font-bold text-secondary">
                    Name
                </label>
                <InputText @bind-Value="_show.Name" class="form-control" id="showName" />
                <ValidationMessage For="@(() => _show.Name)" />
            </FormFieldSet>
            <FormFieldSet>
                <label for="showDescription" class="font-bold text-secondary">
                    Description
                </label>
                <InputTextArea @bind-Value="_show.Description" rows="4" class="form-control" id="showDescription" />
                <ValidationMessage For="@(() => _show.Description)" />
            </FormFieldSet>
            <FormFieldSet>
                <label for="showPlatform" class="font-bold text-secondary">
                    Platform
                </label>
                <InputSelect @bind-Value="_show.Platform" class="form-control" id="showPlatform">
                    <option>Please select a platform...</option>
                    <option>Netflix</option>
                    <option>HBOMax</option>
                    <option>Hulu</option>
                    <option>ParamountPlus</option>
                    <option>Peacock</option>
                </InputSelect>
                <ValidationMessage For="@(() => _show.Platform)" />
            </FormFieldSet>
            <FormFieldSet>
                <label for="showGenre" class="font-bold text-secondary">
                    Genre
                </label>
                <InputSelect @bind-Value="_show.Genre" class="form-control" id="showGenre">
                    <option>Please select a genre...</option>
                    <option>Comedy</option>
                    <option>Drama</option>
                    <option>Horror</option>
                    <option>SciFi</option>
                </InputSelect>
                <ValidationMessage For="@(() => _show.Genre)" />
            </FormFieldSet>
                <FormFieldSet>
                    <label for="showRating" class="font-bold text-secondary">
                        Rating
                    </label>
                    <InputNumber @bind-Value="_show.Rating" class="form-control" id="showRating" />
                    <ValidationMessage For="@(() => _show.Rating)" />
                </FormFieldSet>
        </FormSection>

        <FormSection Title="Seasons" HelpText="Enter season and episode count here. This helps viewers know what they're in for.">
            @{ var i = 0; } 
            @foreach (var season in _show.Seasons) {
                i++;
                season.Number = i;
                
                <div class="row mt-2">
                    <div class="col-2">
                        <div class="form-group">
                            <label class="font-bold text-secondary">
                                Season
                            </label>
                            <p class="pt-1">
                                @season.Number
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="seasonEpisodeCount" class="font-bold text-secondary">
                                Episode Count
                            </label>
                            <InputNumber @bind-Value="season.EpisodeCount" class="form-control" id="seasonEpisodeCount" />
                            <ValidationMessage For="@(() => season.EpisodeCount)" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="seasonYear" class="font-bold text-secondary">
                                Year
                            </label>
                            <InputNumber @bind-Value="season.Year" class="form-control" id="seasonYear" />
                            <ValidationMessage For="@(() => season.Year)" />
                        </div>
                    </div>
                    <div class="col-1 d-flex mt-3 mr-2">
                        <button @onclick="@(() => _show.Seasons.Remove(season))" class="btn btn-link" type="button">
                            <svg    width="1em" 
                                    height="1em" 
                                    viewBox="0 0 16 16" 
                                    class="bi bi-x-circle-fill text-danger" 
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path   fill-rule="evenodd" 
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                            </svg>
                        </button>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col">
                    <button class="btn btn-outline-primary mt-2" type="button" @onclick="@(() => _show.Seasons.Add(new Season()))">
                        Add Season
                    </button>
                    <ValidationMessage For="@(() => _show.Seasons)" />
                </div>
            </div>
        </FormSection>


        <div class="row">
            <div class="offset-4 col-8 text-right">
                <button class="btn btn-outline-secondary" type="button" @onclick="@(() => _show = new Show())">
                    Reset
                </button>
                <button class="btn btn-primary" type="submit">
                    Submit
                </button>
            </div>
        </div>
    </div>
</EditForm>
</div>

@code { 
    private Show _show = new Show();

    private async Task SubmitForm() {
        // TODO: Submit data to API
    }
}